<!DOCTYPE html>
<html>
  <head>
    <title>みんなでモバレ攻略</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="ui container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>

      <div class="ui segment">
        <%= debug(params) if Rails.env.development? %><br>
        セッションID => <%= session[:user_id] %>
      </div>
    </div>
  </div> <!-- <div class="pusher"> と対応 -->
</body>
  </body>
</html>
